dist: trusty
sudo: required
language: javascript
services:
  - docker
notifications:
  email: false
before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - sudo sudo curl -L https://github.com/docker/compose/releases/download/1.17.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
script: docker pull $IMAGE_BUILD;
        docker tag $IMAGE_BUILD $IMAGE_LATEST;
        if [[ "$TESTS" == "integration" ]]; then
          npm run docker:run:test:integration;
        else
          npm run docker:run:test:unit -- $TESTS;
        fi
jobs:
  include:
    - stage: build
      script: docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
              docker pull $IMAGE_LATEST;
              npm run docker:build;
              docker tag $IMAGE_LATEST $IMAGE_BUILD;
              docker push $IMAGE_BUILD
      env:
        - DOCKER_USERNAME=augurintegration
        - secure: KDRY8LJYUEBq6k18IlPs3fPFHD2Le99laXvA+Qflw+oN1sJWEZtTu50W9MR5vHfQn1QhoQpuN+xhKnEnRTrz4jMQtd1wnOJq6+RrmZZBUw+bCJTQipQUFjdYrGus7ofFV7AheeCmDrqC0fOR+bRSqKDHyIJ6Jdt4beKiVSuUWz0=
    - stage: deploy
      script: skip
      env:
        - DOCKER_USERNAME=augurintegration
        - secure: KDRY8LJYUEBq6k18IlPs3fPFHD2Le99laXvA+Qflw+oN1sJWEZtTu50W9MR5vHfQn1QhoQpuN+xhKnEnRTrz4jMQtd1wnOJq6+RrmZZBUw+bCJTQipQUFjdYrGus7ofFV7AheeCmDrqC0fOR+bRSqKDHyIJ6Jdt4beKiVSuUWz0=
        - TESTS=
      deploy: &script
        provider: script
        skip_cleanup: true
        script: docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
                docker pull $IMAGE_BUILD;
                docker tag $IMAGE_BUILD $IMAGE_LATEST;
                ARTIFACTS=true npm run docker:run:deploy && docker push $IMAGE_LATEST
        on:
          tags: true
stages:
  - build
  - test
  - name: deploy
    if: tag =~ ^v\d+\.\d+\.\d+(-\d+)?$
git:
  depth: 5
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+(-\d+)?$/
env:
  global:
    - secure: ADmhKnkSyCrheJ0Vpa5X/JribTsux/07i4FbhxBTIq/YM+kkcygkO807UDPcbe8vfYWWxp4lcDTdPTYKvGbyJZIsD6yV17+V10Lp58YjexpKFVzqsqLXG7IFaTCvPvG+vqzu63QI6DNY06Z+aUjeRRXJMIG0pMpCIflzN4bkAcA=
    - secure: eubvvOD8TapXLzjzcDe0MBgE+IGOMDLZPAUwfPc6+H5N8efZoa6nLMhm/7wVYBPpuBQAQC3T3I8YPYh/qJMU8pQ7771FOxqMUXmpvEGUHZoZQ66/Nu0uylBeKwYDc5o7u1Qj1xW+JwCMWpfcUlbCHYPgR5Av/1m62ZFPaCKoj34=
    - secure: E6zBunUrmP6w9RzCSgIY0hS99v8u1L55AGsY1MtPr+u6uMLIkif6uMG/O881DmOkDtBgv/m60fx2Ka+bEZpxWY30ahTc08SUhjMEGC9MeRr5PvEeEzbsiOez+OFIRdngMGptHbTagqKGl3KrJPp21YsYL5GGFWil7iUZ/poent8=
    - secure: X+oknrdo94NEw0oj5WTTkt0Qc42vZRypUhj39U+MBAwscLOReBpY7mRxpoXFjyVvxOwwxS0uj5vO+zaYn1Coz0cjhCCTcBnhGVf8tlfvGhx4r3V1/ISgSzigj/dgsigEB/BYojWX2ubX2ubOVpBb+PaDV1zCOw/6cmfKks8emcY=
    - secure: Y/HFZpl4ivYsq/x17529XhnSvM59NajIeu8dqP2HFFNQNCNVEXaL4TbPWBp/I7ClcT+PHro8bVsHemcKYRDjqhm5sAgMcTSvR4WnuwpgEf/s86bgNOqt0pJ3lhkzc5+L0zhJ68n6JWOaUQykF6DCE9jyLH1WSMmu2VZGHoi/EYY=
    - IMAGE_BUILD=augurproject/augur-core:build.${TRAVIS_BUILD_NUMBER}
    - IMAGE_LATEST=augurproject/augur-core:latest
  matrix:
    - TESTS="tests/test*.py tests/libraries tests/trading"
    - TESTS="tests/reporting"
    - TESTS="tests/fuzzy"
    - TESTS="tests/unit"
    - TESTS="integration"

