body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
body.stopped #main {
    /*display: none;*/
}
body.stopped #logo {
    display: block;
}
body.running #main {
    display: block;
}
body.running #logo {
    display: none;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
h4 a,
h4 span {
    font-size: 14px;
    margin-top: 3px;
}
table {
    font-size: 12px;
}


h1.navbar-brand {
    font-size: 26px;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -3px;
}
nav {
    border-radius: 0px;
}
nav h1 span {
    font-weight: 400;
}
nav .cash {
    margin-left: 20px;
    font-weight: bold;
}
.nav li {
    margin-left: 10px;
}
.nav button {
    margin-top: 9px;
}
.nav button i {
    font-size: 14px;
    margin-left: 8px;
    position: relative;
    top: 3px;
}
.nav button.node-settings.btn-danger .status:before {
    content: 'Node stopped';
}
.nav button.node-settings.btn-warning .status:before {
    content: 'Node starting';
}
.nav button.node-settings.btn-success .status:before {
    content: 'Node running';
}
nav .parsing.progress {
    margin: 0px 0px 0px 0px;
    height: 2px;
    border-radius: 0px;
    border: 0px;
}
.sidebar .panel {
    font-size: 12px;
}

.branches .branches-toggle:before {
    content: 'show all';
}
.branches.all .branches-toggle:before {
    content: 'less';
}
.branches .other {
    display: none;
}
.branches.all .other {
    display: block;
}

#start-node,
#stop-node {
    margin-top: 0px;
}

#node-settings-modal .modal-dialog {
    font-size: 14px;
    width: 350px;
}
#node-settings-modal legend {
    font-size: 14px;
}
#node-settings-modal label {
    font-weight: 200;
    font-size: 12px;
    position: relative;
    top: 0px;
    right: -16px;
}

#create-branch-modal .modal-dialog {
    width: 400px;
}

#trade-modal .modal-dialog {
    width: 450px;
}
#trade-modal .btn-group {
    width: 100%;
}
#trade-modal p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
#trade-modal #trade-amount {
    width: 115px;
}
#trade-modal button {
    width: 100px;
    text-transform: capitalize;
}
#trade-modal .balances {
    margin-top: 18px;
}
#explore-modal .modal-dialog {
    width: 90%;
}
#explore-modal pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    margin: 0px;
}
#explore-modal .input-group {
    width: 250px;
}

#send-cash-modal #dest-address {
    width: 290px;
}

.address {
    overflow: hidden;
    text-overflow: ellipsis;
}

.network .miner-off span {
    color: red;
}
.network .miner-on span {
    color: green;
    font-weight: bold;
}
.network .blocks {
    margin-bottom: 15px;
}
.network fieldset {
    margin-top: 15px;
}
.network fieldset legend {
    font-size: 12px;
    margin-bottom: 10px;
}

.report-decisions

.cycle {
    margin-bottom: 30px;
}
.cycle .progress {
    height: 6px;
}
.cycle .progress-bar.reveal {
    background-color: rgb(239, 147, 5);
}
.cycle .progress-bar.svd {
    background-color: #000;
}
.cycle #report {
    display: none;
}
.cycle #report-decisions {
    margin-bottom: 0px;
}
.cycle #report-decisions li {
    background-color: rgb(255, 255, 228);
}
.cycle #report-decisions li:last-child {
    border-bottom-right-radius: 0; 
}
.cycle p,
.cycle label {
    font-size: 14px;
}
.cycle .my-choice {
    display: none;
    font-weight: bold;
    margin-bottom: 0px;
}
.cycle.reveal .my-choice,
.cycle.svd .my-choice {
    display: inline-block;
}
.cycle.reveal label,
.cycle.svd label {
    display: none;
}
.cycle h3 {
    margin: 5px 0px 10px 0px;
    font-size: 22px;
}
.cycle h3 span,
.cycle h3 i {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.decisions .text {
    width: 63%;
}
.spin {
    display: inline-block;
    -webkit-transform-origin: 47% 50%;
    transform-origin: 47% 50%;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
#alert {
    padding: 10px;
    position: fixed;
    width: 100%;
    min-height: 40px;
    opacity: 0.8;
    bottom: 0;
    margin-bottom: 0px;
    border-radius: 0;
    display: none;
}
#alert div {
    max-height: 45px;
    overflow-y: scroll;
}
#alert div p {
    font-size: 13px;
    margin-bottom: 5px;
}
#logo {
    font-size: 363px;
    width: 300px;
    margin: 0% auto 0px auto;
    text-align: center;
    font-weight: 400;
    line-height: 1em;
    color: rgb(209, 231, 231);
    position: relative;
    top: 50%;
    transform: translateY(0%);
}
#confirm-modal .modal-dialog {
    width: 400px;
}
#confirm-modal button.confirm {
    margin-left: 10px;
}
#confirm-modal .modal-body p {
    font-size: 16px;
    margin: 0px;
}
#report li span.glyphicon {
    display: none;
}
#report li.reported span.glyphicon {
    display: inline;
}